@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

#wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  position: relative;
}

#weights {
  position: absolute;
  left: 0;
}

#my-cvs {
  position: relative;
}

#controls {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#controls button {
  margin: 0.5em;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
  background: #1b262c;
  color: #eeeeee;
}

#controls button:focus {
  outline: none;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: auto;
}

#title {
  color: #eeeeee;
  font-size: 3em;
}

#credits {
  color: #eeeeee;
  font-size: 1.2em;
  margin-bottom: 0.6em;
}

body {
  background: #222831;
}

#epoch,
#loss {
  color: #eeeeee;
}

#epoch {
  font-size: 1.5em;
}

#loss {
  font-size: 1.2em;
}
